@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Algo deu errado ಥ_ಥ</h1>
<p></p>
<h3 class="text-danger">@Model.ErrorMessage</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<img src="https://github.com/VanMachado/CodeTeste/blob/master/src/Img/whatsUp.jpg?raw=true"/>

<p></p>
<a asp-action="Create" class="btn btn-dark" style="width: 250px; display: block;">Voltar a criação de Cliente</a>
<p></p>
<a asp-action="Index" class="btn btn-dark" style="width: 250px; display: block;">Voltar para o começo</a>

