@model CodeChallenge.Models.Dto.ClientDto

@{
    ViewData["Title"] = "Adicionar Cliente";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" autocomplete="off" method="post">
    <div class="form-group">
        <label asp-for="Nome">Nome do Cliente/Razão Social:</label>
        <input asp-for="Nome" class="form-control" required />
        <span class="text-danger">*</span>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" autocomplete="nope" required />
        <span class="text-danger">*</span>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fone">Telefone:</label>
        <input asp-for="Fone" class="form-control phone-mask" autocomplete="nope" required />
        <span class="text-danger">*</span>
        <span asp-validation-for="Fone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="dataCadastro">Data de Cadastro:</label>
        <p id="date" type="date" class="form-control" id="dataCadastro" name="dataCadastro" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Tipo">Selecione o tipo de Pessoa:</label>
        <select asp-for="Tipo" class="form-control" id="tipoSelect">
            <option value="Fisica">Física</option>
            <option value="Juridica">Jurídica</option>
        </select>
        <span class="text-danger">*</span>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CpfOuCnpj">Insira o CPF ou o CNPJ do Cliente:</label>
        <input asp-for="CpfOuCnpj" class="form-control cpf-cnpj-mask" autocomplete="nope" required />
        <span class="text-danger">*</span>
        <span asp-validation-for="CpfOuCnpj" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Isento">Isento:</label>
        <input asp-for="Isento" class="form-check-input" type="checkbox" id="isentoCheckbox" />
        <span asp-validation-for="Isento" class="text-danger"></span>
    </div>
    <p></p>
    <div class="form-group">
        <label asp-for="Inscricao">Inscrição Estadual do Cliente, selecionar Isento caso assim for:</label>
        <input asp-for="Inscricao" class="form-control inscricao-mask" autocomplete="nope" />
        <span asp-validation-for="Inscricao" class="text-danger"></span>
    </div>
    <div class="form-group" id="generoGroup">
        <label asp-for="Genero">Selecione o gênero do Cliente:</label>
        <select asp-for="Genero" class="form-control">
            <option value="Feminino">Feminino</option>
            <option value="Masculino">Masculino</option>
            <option value="Outro">Outro</option>
        </select>
        <span asp-validation-for="Genero" class="text-danger"></span>
    </div>
    <div class="form-group" id="dataNascimentoGroup">
        <label asp-for="DataNascimento">Data de nascimento do Cliente:</label>
        <input id="dataNascimento" asp-for="DataNascimento" class="form-control" type="date"/>
        <span class="text-danger">*</span>
        <span asp-validation-for="DataNascimento" class="text-danger"></span>
    </div>
    <div class="form-group" id="clientBlockedGroup">
        <label asp-for="ClientBlocked">Bloqueio o acesso do Cliente na sua Loja:</label>
        <input asp-for="ClientBlocked" class="form-check-input" type="checkbox" />
        <span asp-validation-for="ClientBlocked" class="text-danger"></span>
    </div>

    <div class="form-group" id="senhaGroup">
        <label asp-for="Senha" data-toggle="tooltip" title="Cadastre a senha de acesso do seu Cliente">Senha:</label>
        <input id="senha" asp-for="Senha" class="form-control" type="password"  minlength="8"/>
        <span class="text-danger">*</span>
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>

    <div class="form-group" id="confirmacaoSenhaGroup">
        <label asp-for="ConfirmacaoSenha" data-toggle="tooltip" title="Confirme a senha de acesso do seu Cliente">Confirme a senha:</label>
        <input id="confirmacaoSenha" asp-for="ConfirmacaoSenha" class="form-control" type="password"  minlength="8"/>
        <span class="text-danger">*</span>
        <small id="confirmacaoSenhaWarning" class="form-text text-warning"></small>
    </div>

    <p></p>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a asp-action="Index" class="btn btn-dark">Voltar</a>
</form>

@section Scripts {
    <script>
        function toggleFields() {
            var tipoSelect = document.getElementById("tipoSelect");
            var generoGroup = document.getElementById("generoGroup");
            var dataNascimentoGroup = document.getElementById("dataNascimentoGroup");
            var clientBlockedGroup = document.getElementById("clientBlockedGroup");
            var senhaGroup = document.getElementById("senhaGroup");
            var confirmacaoSenhaGroup = document.getElementById("confirmacaoSenhaGroup");

            if (tipoSelect.value === "Fisica") {
                generoGroup.style.display = "block";
                dataNascimentoGroup.style.display = "block";
                clientBlockedGroup.style.display = "block";
                senhaGroup.style.display = "block";
                confirmacaoSenhaGroup.style.display = "block";

                document.getElementById("dataNascimento").setAttribute("required", "required");
                document.getElementById("senha").setAttribute("required", "required");
                document.getElementById("confirmacaoSenha").setAttribute("required", "required");
            } else {
                generoGroup.style.display = "none";
                dataNascimentoGroup.style.display = "none";
                clientBlockedGroup.style.display = "none";
                senhaGroup.style.display = "none";
                confirmacaoSenhaGroup.style.display = "none";

                document.getElementById("dataNascimento").removeAttribute("required", "required");
                document.getElementById("senha").removeAttribute("required");
                document.getElementById("confirmacaoSenha").removeAttribute("required");
            }
        }

        document.getElementById("tipoSelect").addEventListener("change", toggleFields);
        window.onload = toggleFields;
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.phone-mask').inputmask({
                mask: ['(99) 99999-9999', '(99) 9999-99999'],
                keepStatic: true,
                removeMaskOnSubmit: true,
                clearIncomplete: true,
                placeholder: ''
            });

            $('.cpf-cnpj-mask').inputmask({
                mask: ['999.999.999-99', '99.999.999/9999-99'],
                keepStatic: true,
                removeMaskOnSubmit: true,
                clearIncomplete: true,
                placeholder: ''
            });
            $('.inscricao-mask').inputmask({
                mask: ['999.999.999-999'],
                keepStatic: true,
                removeMaskOnSubmit: true,
                clearIncomplete: true,
                placeholder: ''
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var isentoCheckbox = document.getElementById("isentoCheckbox");
            var inscricaoInput = document.getElementById("Inscricao");

            // Função para atualizar o atributo 'required' do campo Inscrição
            function updateRequiredStatus() {
                if (isentoCheckbox.checked) {
                    inscricaoInput.removeAttribute("required");
                } else {
                    inscricaoInput.setAttribute("required", "required");
                }
            }

            // Chamar a função quando o estado do checkbox mudar
            isentoCheckbox.addEventListener("change", updateRequiredStatus);

            // Chamar a função uma vez para inicializar o estado correto
            updateRequiredStatus();
        });
    </script>

    <script>
        n = new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        if (m < 10) {
            m = "0" + m;
        }
        if (d < 10) {
            d = "0" + d;
        }
        document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
    </script>    
}
 